<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center" style="margin-bottom: 0;">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
            </div>
            <!-- Book list - looped -->
        </div>
        <div style="background-color: #093c72; color: white;">
            <div style="display:flex; align-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap; flex-direction: column; padding: 15px 0 25px 0;">
                <h2>Add a book:</h2>
                <form action="/prove02/addBook" method="POST">
                    <% for(field of bookFields){ %>
                        <div style="padding:5px; display: flex; align-items: stretch; justify-content: center;">
                            <label for="<%= field %>" style="text-transform: capitalize; width: 100px; text-align: left;"><%= field %></label>
                            <input type="text" name="<%= field %>" style="color: black;">
                        </div>
                        <% } %>
                            </br>
                            <button type="submit" style="padding: 10px 40px; color: black; width: 100%">Submit</button>
                </form>
            </div>
        </div>
        <div style="background-color: rgba(0, 0, 0, 0.9); color: white;">
            <div class="text-center" style="padding: 20px;">
                <h2>Our Library</h2>
                <div>
                    <% for(var i=0; i < bookList.length; i++){ %>
                        <div style="display:flex; align-items: stretch; justify-content: center; flex-direction: row; flex-wrap: wrap;">
                            <div style="margin: 10px; background-color: white; width: 350px; 
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
                            text-align: center; background-image: url('<%= imageExist(bookList[i].image) %>'); height: 400px; background-position: center; 
                            background-repeat: no-repeat; background-size: cover; ">
                                <div style="display:flex; align-items: stretch; justify-content: center; flex-direction: column; color: white; background-color: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; padding: 10px; margin: 0;">
                                    <h3>
                                        <%= bookList[i].title %>
                                    </h3>
                                    <h4>
                                        Released
                                        <%= bookList[i].year %>
                                    </h4>
                                    <p>
                                        <%= bookList[i].summary %>
                                    </p>
                                </div>
                            </div>

                            <% } %>
                        </div>
                </div>
            </div>
        </div>

</body>

</html>