<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>JSON Pagination! It's kinda like magic!</p>
                <% for(var i = 1; i < totalPages+1; i++){ %>
                    <% if(i == page) {%>
                        <a href='/prove/08?page=<%= i %>' class="pagenum currentpg">
                            <% } else { %>
                                <a href='/prove/08?page=<%= i %>' class="pagenum">
                                    <% } %>
                                        <%= ('0' + i).slice(-2) %>
                                </a>
                                <% } %>

            </div>
        </div>
        <div class="container productBack">
            <div class="object-area">
                <% for(let object of objects){ %>
                    <article class="card">
                        <div class="card__image_prev">
                            <img src="<%= object.imageUrl %>" alt="<%= object.name %>">
                        </div>
                        <header class="card__header">
                            <h1 class="product__title">
                                <%= object.name %>
                            </h1>
                        </header>
                        <div class="card__content">
                            <h2 class="product__price">
                                $
                                <%= object.price %>
                            </h2>
                            <p class="product__description product__overflow">
                                <%= object.description %>
                            </p>
                        </div>
                    </article>
                    <% } %>
            </div>
        </div>


</body>

</html>