<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>Gotta Catch Em All!</p>
                <% var prev = Number(page) - Number(1);
                   var next = Number(page) + Number(1);
                   if(page > 0){ %>
                    <a href='/prove/09?page=0' class="pagenum">First</a>
                    <a href='/prove/09?page=<%= prev %>' class="pagenum">Prev</a>
                    <% } else {%>
                        <span class="pagenum null">First</span>
                        <span class="pagenum null">Prev</span>
                        <%} %>

                            <% if(page != 89){ %>
                                <a href='/prove/09?page=<%= next %>' class="pagenum">Next</a>
                                <a href='/prove/09?page=89' class="pagenum">Last</a>
                                <% } else {%>
                                    <span class="pagenum null">Next</span>
                                    <span class="pagenum null">Last</span>
                                    <%} %>

            </div>
        </div>
        <div class="container productBack">
            <div class="object-area">
                <% var img = (page * 10) + 1;  
                   for(let object of objects){ 
                      if(img < 899) { %>
                    <article class="card">
                        <div class="card__image_prev">
                            <img src="<%= ImgURL %><%= img %>.png" alt="<%= object.name %>">
                        </div>
                        <header class="card__header">
                            <h3 class="text-center">
                                #
                                <%= img %> -
                                    <%= object.name.toUpperCase() %>
                            </h3>
                        </header>
                    </article>
                    <% } 
                        img++; 
                    } %>
            </div>
        </div>


</body>

</html>